@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: Inter, sans-serif;
}

@theme {
    --animate-marquee: animate-marquee 15s linear infinite;
    --animate-marquee-reverse: animate-marquee-reverse 15s linear infinite;

    @keyframes animate-marquee {
        from {
            transform: translateX(100%);
        }

        to {
            transform: translateX(-100%);
        }
    }

    @keyframes animate-marquee-reverse {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(100%);
        }
    }
}

@theme {
    --color-accent: var(--color-emerald-600);
    --color-accent-content: var(--color-emerald-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-emerald-600);
        --color-accent-content: var(--color-emerald-400);
        --color-accent-foreground: var(--color-white);
    }
}

@custom-variant hover (&:hover);

/* [data-flux-modal]>dialog[open],
[data-flux-modal]>dialog[open]::backdrop {
    @apply backdrop-blur;
} */